<div class="relative flex h-full flex-1 grow flex-col">
  <div class="bg-white p-6 text-2xl font-bold">Granted Access</div>
  <div class="flex flex-col gap-6 p-6">
    <div class="flex items-center justify-between rounded-md bg-white p-4">
      <div class="text-sky-900">1TB Galaxy storage and HPC</div>
      <div class="rounded-full bg-lime-600 px-4 py-2 text-sm text-white">
        Active
      </div>
    </div>
    <div class="flex items-center justify-between rounded-md bg-white p-4">
      <div class="text-sky-900">TSI embargo datasets</div>
      <div class="rounded-full bg-lime-600 px-4 py-2 text-sm text-white">
        Active
      </div>
    </div>
    <div class="flex items-center justify-between rounded-md bg-white p-4">
      <div class="text-sky-900">Apollo</div>
      <div class="rounded-full bg-lime-600 px-4 py-2 text-sm text-white">
        Active
      </div>
    </div>
    <div class="flex items-center justify-between rounded-md bg-white p-4">
      <div class="text-sky-900">Nextflow</div>
      <div class="rounded-full bg-lime-600 px-4 py-2 text-sm text-white">
        Active
      </div>
    </div>
  </div>

  <button
    type="button"
    class="absolute right-6 bottom-6 flex h-12 w-12 items-center justify-center rounded-full border-2 border-sky-900 bg-white text-sky-900 hover:cursor-pointer"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="size-8"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M12 4.5v15m7.5-7.5h-15"
      />
    </svg>
  </button>
</div>
