@if (!isAuthenticated) {
  <div
    class="absolute top-0 left-0 z-50 flex h-full w-full flex-col items-center justify-center bg-white"
  >
    <div class="flex flex-col items-center justify-center">
      <img
        src="https://images.squarespace-cdn.com/content/5d3a4213cf4f5b00014ea1db/1689141619044-F67XDPQLP4PG6KY862VA/Australian-Biocommons-Logo-Horizontal-RGB.png?format=1500w&content-type=image%2Fpng"
        class="auto h-16"
      />
      <h1
        class="mt-12 text-5xl font-semibold tracking-tight text-balance text-gray-900 sm:text-7xl"
      >
        AAI User Portal
      </h1>
      <p class="my-8 font-light text-gray-400">Please log in to continue</p>
      <div class="flex items-center justify-center gap-x-6">
        <app-login-button />
      </div>
    </div>
  </div>
} @else {
  <nav class="bg-white p-6 shadow lg:px-12">
    <div class="flex items-center justify-between">
      <button type="button" class="text-blue-500 hover:cursor-pointer">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-10"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25H12"
          />
        </svg>
      </button>
      <div class="text-2xl font-semibold text-sky-500">Dashboard</div>
      <div class="relative">
        <button
          type="button"
          class="relative flex h-10 w-10 items-center justify-center rounded-full bg-gray-200 text-sm hover:cursor-pointer focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800 focus:outline-hidden"
          id="user-menu-button"
          aria-expanded="false"
          aria-haspopup="true"
          (click)="toggleUserMenu()"
          #userMenuButton
        >
          <span class="absolute -inset-1.5"></span>
          <span class="sr-only">Open user menu</span>
          @if (user?.picture) {
            <img class="h-10 w-10 rounded-full" [src]="user.picture" />
          }
        </button>
        @if (userMenuOpen) {
          <div
            class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow focus:outline-none"
            role="menu"
            aria-orientation="vertical"
            aria-labelledby="user-menu-button"
            tabindex="-1"
            #menu
          >
            <div
              class="block px-4 py-2 text-sm text-gray-700 hover:cursor-pointer hover:bg-gray-100"
              role="menuitem"
              tabindex="-1"
              id="user-menu-item-2"
            >
              <app-logout-button />
            </div>
          </div>
        }
      </div>
    </div>

    <div
      class="align-center mt-12 flex justify-center gap-2 font-light text-sky-900 *:rounded-md *:px-6 *:py-2"
    >
      <a
        routerLink="/services"
        routerLinkActive="active"
        class="bg-gray-100 hover:bg-gray-200"
        [ngClass]="{
          'bg-sky-900 text-white hover:bg-sky-950': isActive('/services'),
        }"
        >Services</a
      >
      <a
        routerLink="/access"
        routerLinkActive="active"
        class="bg-gray-100 hover:bg-gray-200"
        [ngClass]="{
          'bg-sky-900 text-white hover:bg-sky-950': isActive('/access'),
        }"
        >Access</a
      >
      <a
        routerLink="/pending"
        routerLinkActive="active"
        class="relative bg-gray-100 hover:bg-gray-200"
        [ngClass]="{
          'bg-sky-900 text-white hover:bg-sky-950': isActive('/pending'),
        }"
      >
        @if (user?.user_metadata?.systems?.requested?.length > 0) {
          <span
            class="absolute -top-2 -right-2 min-h-6 min-w-6 rounded-full bg-red-500 px-2 py-1 text-center text-xs text-white"
          >
            {{ user?.user_metadata?.systems?.requested?.length }}
          </span>
        }
        Pending
      </a>
    </div>
  </nav>
}
