<div class="relative flex h-full flex-1 grow flex-col">
  <div class="bg-white p-6 text-2xl font-bold">Joined Services</div>
  @if (loading) {
    <div class="flex h-full flex-1 flex-col items-center justify-center">
      <app-loading-spinner />
    </div>
  } @else {
    <div class="flex flex-col gap-6 p-6 font-light">
      @for (system of approvedSystems; track system) {
        <div
          class="flex items-center justify-between gap-6 rounded-md bg-white p-4"
        >
          <div class="text-sky-900">{{ system }}</div>
          <div class="rounded-full bg-lime-600 px-4 py-2 text-sm text-white">
            Active
          </div>
        </div>
      }

      <button
        type="button"
        class="absolute right-6 bottom-6 flex h-12 w-12 items-center justify-center rounded-full border border-sky-900 bg-white text-sky-900 hover:cursor-pointer"
        routerLink="request"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-8"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 4.5v15m7.5-7.5h-15"
          />
        </svg>
      </button>
    </div>
  }
</div>

<router-outlet />
